<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
</head>
<body>
    
    <h1>Mi Familia</h1>

    <h2>hermanos:
        
        <p><a href="hermanos">haga click aqui para ver a mis hermanos
           <a>
        </p>
    </h2>

    <h2>padres:
        
        <p><a href="padres">haga click aqui para ver a mis Padres
            <a>
        </p>
    </h2>

    <h2>abuelos:
        
        <p><a href="abuelos">haga click aqui para ver a mis abuelos
            <a>
        </p>
    </h2>
    
</body>
</html>